body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    background-color: #fff;
    width: 100%;
    max-width: 25rem;
    padding: 1.25rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-container h2 {
    color: #333;
}

.input-container {
    margin: 1.25rem 0;
}

.input-container input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

img {
    margin-bottom: 10px;
}

.login-button {
    background-color: red;
    color: white;
    padding: 10px 1.25rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #c0392b;
}

.link-container {
    margin-top: 1.25rem;
    cursor: pointer;
}

a {
    color: black;
}

a:hover {
    color: red;
}