@font-face {
    font-family: AvenirRoman;
    src: url(../font/Avenir-roman.ttf);
}

@font-face {
    font-family: AvenirMedium;
    src: url(../font/Avenir-medium.ttf);
}

@font-face {
    font-family: AvenirBlack;
    src: url(../font/Avenir\ -black.ttf);
}

:root{
    /* Colors */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #FF0000;
    --primary-color-light: #F6F5FF;
    --toggle-color: #252525;
    --text-color: #707070;
    --text-color-inv-dark: #707070;

    --body-color: #eaeefa;
    --text-colorDark: #000000;
    --text-colorLight: #707070;
  
    --accent-colorDark: #cccccc;

    --color-magenta: #a22a86;
    --color-deepPink: #fe2f7f;

    --color-orangeRed: #ff561e;
    --color-orange: #fda12b;

    --color-deepSkyBlue: #3c389e;
    --color-blue: #1370bd;
    --color-darkSlateBlue: #31a3db;


    --color-seaGreen: #32a182;
    --color-forestGreen: #54af45;
    --color-yellowGreen: #b2cb42;

    /* Fonts */
    --main-font:"AvenirRoman", "Montserrat", "Poppins", sans-serif; 
    --line-height: 1.5;

    /* Transitions */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    /* Border-radius */
    --primary-radius: 1rem;

    /* Section content */
    --section-content-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    transition: var(--tran-03)
}

button {
    border: none;
    border-radius: 6px;
    background-color: var(--sidebar-color);
    padding: 6px 10px;
    margin: 10px;
}

a {
    text-decoration: none;
}

label {
    color: var(--text-color);
}

button a {
    color: white;
}

.oba-logo {
    padding-right: 10px;
}

.special-text {
    color: red;
}

h1 {
    color: red;
}
