main {
    height: 100vh;
    width: 100%;
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding: 12px 30px;
}


main h2 {
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

.wrapper {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

@media only screen and (max-width: 478px) {
    .wrapper {
        padding: 0 0 32px 0;
    }
}

.card {
    background-color: var(--sidebar-color);
    width: 450px;
    height: 250px;
    border-radius: 12px;
    box-shadow: -12px 12px 8px rgba(0, 0, 0, 0.20);
}

body.dark .card {
    background-color: #242526;
    color: #ccc;
    transition: 0.5s;
}

.card.dark {
    background-color: aqua;
}

@media only screen and (max-width: 478px) {
    .card {
        height: auto;
        box-shadow: none;
        margin-left: 8px;
    }
}

.card__container {
    padding: 15px 30px 15px 30px;
}

@media only screen and (max-width: 478px) {
    .card__container {
        padding: 15px 15px 15px 15px;
    }
}

.card__profile-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card__profile-wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.card__profile-wrapper h2 {
    font-size: 25px;
}

@media only screen and (max-width: 478px) {
    .card__profile-wrapper h2 {
        font-size: 20px;
    }
}

.card__list {
    padding: 0;
    margin: 8px 0 0 15px;
}

.card__item {
    list-style: none;
    font-size: 20px;
    line-height: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width: 478px) {
    .card__item {
        font-size: 12px;
    }
}

.card__button {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

.profile__btn {
    background-color: #FF0000;
    color: var(--sidebar-color);
    font-size: 20px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

body.dark .profile__btn {
    color: #ccc;
}

body.dark .profile__btn:hover {
    background-color: #c10000;
}

@media only screen and (max-width: 478px) {
    .profile__btn {
        font-size: 15px;
        width: 80px;
        height: 25px;
    }
}

.profile__btn:hover {
    background-color: #e80303;
}

.card-2 {
    border: solid 5px #96969F;
    width: 450px;
    height: 250px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    cursor: pointer;
}

@media only screen and (max-width: 478px) {
    .card-2 {
        margin-left: 8px;
    }
}

.card-2 i {
    color: #96969F;
}

.card-2:hover {
    background-color: var(--primary-color);
    border: none;
    transition: 0.5s;
    box-shadow: -12px 12px 8px rgba(0, 0, 0, 0.20);
}

body.dark .card-2:hover {
    background-color: var(--red-color);
}

.card-2:hover i {
    color: #fff;
    transition: 0.5s;
}